.SubjectItem {
  transition: all 0.2s ease-in-out;
  display: grid;
  grid-gap: 0 15px;
  align-items: center;
  justify-content: start;
  padding: 20px;

  &:hover {
    background: #EDEDED;
    cursor: pointer;

  }

  &--defaultMessage {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    &:hover {
      background: transparent;
      cursor: initial;
    }
  }

  &__name {
  }

  &__messagePreview {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}